<mat-table [dataSource]="clientes">
  <!-- name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let clientes"> {{ clientes.name }} </mat-cell>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
    <mat-cell *matCellDef="let clientes" mask="(99) 9999-9999"> {{ clientes.phone }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dataCadastro">
    <mat-header-cell *matHeaderCellDef>Data de Cadastro</mat-header-cell>
    <mat-cell *matCellDef="let clientes"> {{ clientes.dataCadastro | date: 'dd/MM/yyyy' }} </mat-cell>
  </ng-container>

  <!-- cnpj Column -->
  <ng-container matColumnDef="cnpj">
    <mat-header-cell *matHeaderCellDef>CNPJ / CPF</mat-header-cell>
    <mat-cell *matCellDef="let clientes"> {{ clientes.cnpj }} </mat-cell>
  </ng-container>

  <!-- IE Column -->
  <ng-container matColumnDef="ie">
    <mat-header-cell *matHeaderCellDef>IE / RG</mat-header-cell>
    <mat-cell *matCellDef="let clientes"> {{ clientes.ie }} </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>status</mat-header-cell>
    <mat-cell *matCellDef="let clientes"> {{ clientes.status }} </mat-cell>
  </ng-container>



  <!-- category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell *matCellDef="let clientes">
      {{ clientes.category }}
      <mat-icon aria-hidden="false" aria-label="Categoria do cliente">
        {{ clientes.category | category }}
      </mat-icon>
    </mat-cell>
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="primary" aria-label="Adicionar Cliente">
        <mat-icon (click)="onAdd()">add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let clientes" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar Cliente">
        <mat-icon (click)="onEdit(clientes)">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Remover Cliente">
        <mat-icon (click)="onDelete(clientes)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Header and Rows -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
